body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-6/300777452_616494626505554_8412312525728179306_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=C7Pyio9fWw8AX-_zJh1&_nc_ht=scontent.fhan2-5.fna&oh=00_AT_ct9T_peSYeGd1KlRJjPvsp4bfv3EH6Gai8wNsAiZrQA&oe=633CBB55') fixed center /  cover no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


